@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic')
@import "layout"
@import "responsive"
@import "resume"

body
  margin: 0
  font-family: $font-stack
  -webkit-font-smoothing: antialiased
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: $primary-color
  text-align: left
  background-color: $primary-background-color

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section
  display: block

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: .5rem
  font-weight: 500
  line-height: 1.2

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: .5rem

h2, .h2
  font-size: 2rem

img
  vertical-align: middle
  border-style: none

svg
  overflow: hidden
  vertical-align: middle

ol, ul, dl
  margin-top: 0
  margin-bottom: 1rem

li
  display: list-item
  text-align: -webkit-match-parent

a
  color: $background-color-light
  text-decoration: none
  background-color: transparent

button, [type="button"], [type="reset"], [type="submit"]
  -webkit-appearance: button

button, select
  text-transform: none

button, input
  overflow: visible

input, button, select, optgroup, textarea
  margin: 0
  font-family: inherit
  font-size: inherit
  line-height: inherit

button
  border-radius: 0

.section-title
    font-size: 1.75rem

.font-weight-bold
  font-weight: 700 !important

.badge
  display: inline-block
  padding: .25em .4em
  font-size: 75%
  font-weight: 700
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: .25rem
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out

.badge-pill
  padding-right: .6em
  padding-left: .6em
  border-radius: 10rem

.badge-secondary
  color: #fff
  background-color: #58677c

.badge
  padding: 0.35em 0.7em
  padding-bottom: 0.4em

.badge-light
  color: #434E5E
  background-color: #f5f6f8

.theme-progress-bar-dark
  background-color: #58677c